swagger: '2.0'
info:
  version: 1.0.0
  title: 'Harvestapp API'
  license:
    name: MIT
externalDocs:
  description: 'Learn more about the Harvest Web API'
  url: 'https://help.getharvest.com/api-v2/'
host: api.harvestapp.com
basePath: /v2
schemes:
  - https
securityDefinitions:
  BearerAuth:
    type: apiKey
    in: header
    name: Authorization
  AccountAuth:
    type: apiKey
    in: header
    name: Harvest-Account-Id
security:
  -
    BearerAuth: []
    AccountAuth: []
paths:
  /contacts:
    get:
      summary: 'List all contacts'
      operationId: listContacts
      description: "Returns a list of your contacts. The contacts are returned sorted by creation date, with the most recently created contacts appearing first.\n\nThe response contains an object with a contacts property that contains an array of up to per_page contacts. Each entry in the array is a separate contact object. If no more contacts are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your contacts."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: client_id
          description: 'Only return contacts belonging to the client with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: updated_since
          description: 'Only return contacts that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all contacts'
          schema:
            $ref: '#/definitions/Contacts'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create a contact'
      operationId: createContact
      description: 'Creates a new contact object. Returns a contact object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              client_id:
                type: integer
                description: 'The ID of the client associated with this contact.'
                format: int32
              title:
                type: string
                description: 'The title of the contact.'
              first_name:
                type: string
                description: 'The first name of the contact.'
              last_name:
                type: string
                description: 'The last name of the contact.'
              email:
                type: string
                description: 'The contact’s email address.'
                format: email
              phone_office:
                type: string
                description: 'The contact’s office phone number.'
              phone_mobile:
                type: string
                description: 'The contact’s mobile phone number.'
              fax:
                type: string
                description: 'The contact’s fax number.'
            required:
              - client_id
              - first_name
      responses:
        201:
          description: 'Create a contact'
          schema:
            $ref: '#/definitions/Contact'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/contacts/{ContactId}':
    get:
      summary: 'Retrieve a contact'
      operationId: retrieveContact
      description: 'Retrieves the contact with the given ID. Returns a contact object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ContactId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve a contact'
          schema:
            $ref: '#/definitions/Contact'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update a contact'
      operationId: updateContact
      description: 'Updates the specific contact by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns a contact object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ContactId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              client_id:
                type: integer
                description: 'The ID of the client associated with this contact.'
                format: int32
              title:
                type: string
                description: 'The title of the contact.'
              first_name:
                type: string
                description: 'The first name of the contact.'
              last_name:
                type: string
                description: 'The last name of the contact.'
              email:
                type: string
                description: 'The contact’s email address.'
                format: email
              phone_office:
                type: string
                description: 'The contact’s office phone number.'
              phone_mobile:
                type: string
                description: 'The contact’s mobile phone number.'
              fax:
                type: string
                description: 'The contact’s fax number.'
      responses:
        200:
          description: 'Update a contact'
          schema:
            $ref: '#/definitions/Contact'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a contact'
      operationId: deleteContact
      description: 'Delete a contact. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ContactId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete a contact'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /clients:
    get:
      summary: 'List all clients'
      operationId: listClients
      description: "Returns a list of your clients. The clients are returned sorted by creation date, with the most recently created clients appearing first.\n\nThe response contains an object with a clients property that contains an array of up to per_page clients. Each entry in the array is a separate client object. If no more clients are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your clients."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: is_active
          description: 'Pass true to only return active clients and false to return inactive clients.'
          required: false
          in: query
          type: boolean
        -
          name: updated_since
          description: 'Only return clients that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all clients'
          schema:
            $ref: '#/definitions/Clients'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create a client'
      operationId: createClient
      description: 'Creates a new client object. Returns a client object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'A textual description of the client.'
              is_active:
                type: boolean
                description: 'Whether the client is active, or archived. Defaults to true.'
              address:
                type: string
                description: 'A textual representation of the client’s physical address. May include new line characters.'
              currency:
                type: string
                description: 'The currency used by the client. If not provided, the company’s currency will be used. See a list of supported currencies'
            required:
              - name
      responses:
        201:
          description: 'Create a client'
          schema:
            $ref: '#/definitions/Client'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/clients/{ClientId}':
    get:
      summary: 'Retrieve a client'
      operationId: retrieveClient
      description: 'Retrieves the client with the given ID. Returns a client object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ClientId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve a client'
          schema:
            $ref: '#/definitions/Client'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update a client'
      operationId: updateClient
      description: 'Updates the specific client by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns a client object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ClientId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'A textual description of the client.'
              is_active:
                type: boolean
                description: 'Whether the client is active, or archived.'
              address:
                type: string
                description: 'A textual representation of the client’s physical address. May include new line characters.'
              currency:
                type: string
                description: 'The currency used by the client. See a list of supported currencies'
      responses:
        200:
          description: 'Update a client'
          schema:
            $ref: '#/definitions/Client'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a client'
      operationId: deleteClient
      description: 'Delete a client. Deleting a client is only possible if it has no projects, invoices, or estimates associated with it. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ClientId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete a client'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /company:
    get:
      summary: 'Retrieve a company'
      operationId: retrieveCompany
      description: "Retrieves the company for the currently authenticated user. Returns a\ncompany object and a 200 OK response code."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters: []
      responses:
        200:
          description: 'Retrieve a company'
          schema:
            $ref: '#/definitions/Company'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/invoices/{InvoiceId}/messages':
    get:
      summary: 'List all messages for an invoice'
      operationId: listMessagesForInvoice
      description: "Returns a list of messages associated with a given invoice. The invoice messages are returned sorted by creation date, with the most recently created messages appearing first.\n\nThe response contains an object with an invoice_messages property that contains an array of up to per_page messages. Each entry in the array is a separate message object. If no more messages are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your messages."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
        -
          name: updated_since
          description: 'Only return invoice messages that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all messages for an invoice'
          schema:
            $ref: '#/definitions/InvoiceMessages'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Mark an open invoice as a draft'
      operationId: markOpenInvoiceAsDraft
      description: 'Creates a new invoice message object and marks an open invoice as a draft. Returns an invoice message object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              event_type:
                type: string
                description: 'Pass “draft” to mark the invoice as a draft.'
            required:
              - event_type
      responses:
        200:
          description: 'Mark an open invoice as a draft'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/invoices/{InvoiceId}/messages/{MessageId}':
    delete:
      summary: 'Delete an invoice message'
      operationId: deleteInvoiceMessage
      description: 'Delete an invoice message. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
        -
          name: MessageId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an invoice message'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/invoices/{InvoiceId}/payments':
    get:
      summary: 'List all payments for an invoice'
      operationId: listPaymentsForInvoice
      description: "Returns a list of payments associate with a given invoice. The payments are returned sorted by creation date, with the most recently created payments appearing first.\n\nThe response contains an object with an invoice_payments property that contains an array of up to per_page payments. Each entry in the array is a separate payment object. If no more payments are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your payments."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
        -
          name: updated_since
          description: 'Only return invoice payments that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all payments for an invoice'
          schema:
            $ref: '#/definitions/InvoicePayments'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an invoice payment'
      operationId: createInvoicePayment
      description: 'Creates a new invoice payment object. Returns an invoice payment object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              amount:
                type: number
                description: 'The amount of the payment.'
                format: float
              paid_at:
                type: string
                description: 'Date and time the payment was made. Pass either paid_at or paid_date, but not both.'
                format: date-time
              paid_date:
                type: string
                description: 'Date the payment was made. Pass either paid_at or paid_date, but not both.'
                format: date
              notes:
                type: string
                description: 'Any notes to be associated with the payment.'
            required:
              - amount
      responses:
        201:
          description: 'Create an invoice payment'
          schema:
            $ref: '#/definitions/InvoicePayment'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/invoices/{InvoiceId}/payments/{PaymentId}':
    delete:
      summary: 'Delete an invoice payment'
      operationId: deleteInvoicePayment
      description: 'Delete an invoice payment. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
        -
          name: PaymentId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an invoice payment'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /invoices:
    get:
      summary: 'List all invoices'
      operationId: listInvoices
      description: "Returns a list of your invoices. The invoices are returned sorted by issue date, with the most recently issued invoices appearing first.\n\nThe response contains an object with a invoices property that contains an array of up to per_page invoices. Each entry in the array is a separate invoice object. If no more invoices are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your invoices."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: client_id
          description: 'Only return invoices belonging to the client with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: project_id
          description: 'Only return invoices associated with the project with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: updated_since
          description: 'Only return invoices that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: from
          description: 'Only return invoices with an issue_date on or after the given date.'
          required: false
          in: query
          type: string
        -
          name: to
          description: 'Only return invoices with an issue_date on or before the given date.'
          required: false
          in: query
          type: string
        -
          name: state
          description: 'Only return invoices with a state matching the value provided. Options: draft, open, paid, or closed.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all invoices'
          schema:
            $ref: '#/definitions/Invoices'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an invoice based on tracked time and expenses'
      operationId: createInvoiceBasedOnTrackedTimeAndExpenses
      description: 'Creates a new invoice object. Returns an invoice object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              client_id:
                type: integer
                description: 'The ID of the client this invoice belongs to.'
                format: int32
              retainer_id:
                type: integer
                description: 'The ID of the retainer associated with this invoice.'
                format: int32
              estimate_id:
                type: integer
                description: 'The ID of the estimate associated with this invoice.'
                format: int32
              number:
                type: string
                description: 'If no value is set, the number will be automatically generated.'
              purchase_order:
                type: string
                description: 'The purchase order number.'
              tax:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              tax2:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              discount:
                type: number
                description: 'This percentage is subtracted from the subtotal. Example: use 10.0 for 10.0%.'
                format: float
              subject:
                type: string
                description: 'The invoice subject.'
              notes:
                type: string
                description: 'Any additional notes to include on the invoice.'
              currency:
                type: string
                description: 'The currency used by the invoice. If not provided, the client’s currency will be used. See a list of supported currencies'
              issue_date:
                type: string
                description: 'Date the invoice was issued. Defaults to today’s date.'
                format: date
              due_date:
                type: string
                description: 'Date the invoice is due. Defaults to the issue_date if no payment_term is specified.'
                format: date
              payment_term:
                type: string
                description: 'The timeframe in which the invoice should be paid. Defaults to custom. Options: upon receipt, net 15, net 30, net 45, or net 60.'
              line_items_import:
                type: object
                description: 'An line items import object'
            required:
              - client_id
      responses:
        201:
          description: 'Create an invoice based on tracked time and expenses'
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/invoices/{InvoiceId}':
    get:
      summary: 'Retrieve an invoice'
      operationId: retrieveInvoice
      description: 'Retrieves the invoice with the given ID. Returns an invoice object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve an invoice'
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update an invoice'
      operationId: updateInvoice
      description: 'Updates the specific invoice by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an invoice object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              client_id:
                type: integer
                description: 'The ID of the client this invoice belongs to.'
                format: int32
              retainer_id:
                type: integer
                description: 'The ID of the retainer associated with this invoice.'
                format: int32
              estimate_id:
                type: integer
                description: 'The ID of the estimate associated with this invoice.'
                format: int32
              number:
                type: string
                description: 'If no value is set, the number will be automatically generated.'
              purchase_order:
                type: string
                description: 'The purchase order number.'
              tax:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              tax2:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              discount:
                type: number
                description: 'This percentage is subtracted from the subtotal. Example: use 10.0 for 10.0%.'
                format: float
              subject:
                type: string
                description: 'The invoice subject.'
              notes:
                type: string
                description: 'Any additional notes to include on the invoice.'
              currency:
                type: string
                description: 'The currency used by the invoice. If not provided, the client’s currency will be used. See a list of supported currencies'
              issue_date:
                type: string
                description: 'Date the invoice was issued.'
                format: date
              due_date:
                type: string
                description: 'Date the invoice is due.'
                format: date
              payment_term:
                type: string
                description: 'The timeframe in which the invoice should be paid. Options: upon receipt, net 15, net 30, net 45, or net 60.'
              line_items:
                type: array
                description: 'Array of line item parameters'
                items:
                  type: object
                  required:
                    - project_ids
                  properties:
                    project_ids:
                      description: 'An array of the client’s project IDs you’d like to include time/expenses from.'
                      type: array
                      items:
                        type: integer
                    time:
                      description: 'An time import object.'
                      type: object
                      required:
                        - summary_type
                      properties:
                        summary_type:
                          type: string
                          description: 'How to summarize the time entries per line item. Options: project, task, people, or detailed.'
                        from:
                          type: string
                          format: date
                          description: 'Start date for included time entries. Must be provided if to is present. If neither from or to are provided, all unbilled time entries will be included.'
                        to:
                          type: string
                          format: date
                          description: 'End date for included time entries. Must be provided if from is present. If neither from or to are provided, all unbilled time entries will be included.'
                    expenses:
                      description: 'An expense import object.'
                      type: object
                      required:
                        - summary_type
                      properties:
                        summary_type:
                          type: string
                          description: 'How to summarize the expenses per line item. Options: project, category, people, or detailed.'
                        from:
                          type: string
                          format: date
                          description: 'Start date for included expenses. Must be provided if to is present. If neither from or to are provided, all unbilled expenses will be included.'
                        to:
                          type: string
                          format: date
                          description: 'End date for included expenses. Must be provided if from is present. If neither from or to are provided, all unbilled expenses will be included.'
                        attach_receipt:
                          type: boolean
                          description: 'If set to true, a PDF containing an expense report with receipts will be attached to the invoice. Defaults to false.'
      responses:
        200:
          description: 'Update an invoice'
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an invoice'
      operationId: deleteInvoice
      description: 'Delete an invoice. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an invoice'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /invoice_item_categories:
    get:
      summary: 'List all invoice item categories'
      operationId: listInvoiceItemCategories
      description: "Returns a list of your invoice item categories. The invoice item categories are returned sorted by creation date, with the most recently created invoice item categories appearing first.\n\nThe response contains an object with a invoice_item_categories property that contains an array of up to per_page invoice item categories. Each entry in the array is a separate invoice item category object. If no more invoice item categories are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your invoice item categories."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: updated_since
          description: 'Only return invoice item categories that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all invoice item categories'
          schema:
            $ref: '#/definitions/InvoiceItemCategories'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an invoice item category'
      operationId: createInvoiceItemCategory
      description: 'Creates a new invoice item category object. Returns an invoice item category object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the invoice item category.'
            required:
              - name
      responses:
        201:
          description: 'Create an invoice item category'
          schema:
            $ref: '#/definitions/InvoiceItemCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/invoice_item_categories/{InvoiceItemCategoryId}':
    get:
      summary: 'Retrieve an invoice item category'
      operationId: retrieveInvoiceItemCategory
      description: 'Retrieves the invoice item category with the given ID. Returns an invoice item category object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceItemCategoryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve an invoice item category'
          schema:
            $ref: '#/definitions/InvoiceItemCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update an invoice item category'
      operationId: updateInvoiceItemCategory
      description: 'Updates the specific invoice item category by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an invoice item category object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceItemCategoryId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the invoice item category.'
      responses:
        200:
          description: 'Update an invoice item category'
          schema:
            $ref: '#/definitions/InvoiceItemCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an invoice item category'
      operationId: deleteInvoiceItemCategory
      description: 'Delete an invoice item category. Deleting an invoice item category is only possible if use_as_service and use_as_expense are both false. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: InvoiceItemCategoryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an invoice item category'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/estimates/{EstimateId}/messages':
    get:
      summary: 'List all messages for an estimate'
      operationId: listMessagesForEstimate
      description: "Returns a list of messages associated with a given estimate. The estimate messages are returned sorted by creation date, with the most recently created messages appearing first.\n\nThe response contains an object with an estimate_messages property that contains an array of up to per_page messages. Each entry in the array is a separate message object. If no more messages are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your messages."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateId
          required: true
          in: path
          type: string
        -
          name: updated_since
          description: 'Only return estimate messages that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all messages for an estimate'
          schema:
            $ref: '#/definitions/EstimateMessages'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Re-open a closed estimate'
      operationId: reOpenClosedEstimate
      description: 'Creates a new estimate message object and re-opens a closed estimate. Returns an estimate message object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              event_type:
                type: string
                description: 'Pass “re-open” to re-open the estimate.'
            required:
              - event_type
      responses:
        200:
          description: 'Re-open a closed estimate'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/estimates/{EstimateId}/messages/{MessageId}':
    delete:
      summary: 'Delete an estimate message'
      operationId: deleteEstimateMessage
      description: 'Delete an estimate message. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateId
          required: true
          in: path
          type: string
        -
          name: MessageId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an estimate message'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /estimates:
    get:
      summary: 'List all estimates'
      operationId: listEstimates
      description: "Returns a list of your estimates. The estimates are returned sorted by issue date, with the most recently issued estimates appearing first.\n\nThe response contains an object with a estimates property that contains an array of up to per_page estimates. Each entry in the array is a separate estimate object. If no more estimates are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your estimates."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: client_id
          description: 'Only return estimates belonging to the client with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: updated_since
          description: 'Only return estimates that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: from
          description: 'Only return estimates with an issue_date on or after the given date.'
          required: false
          in: query
          type: string
        -
          name: to
          description: 'Only return estimates with an issue_date on or before the given date.'
          required: false
          in: query
          type: string
        -
          name: state
          description: 'Only return estimates with a state matching the value provided. Options: draft, sent, accepted, or declined.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all estimates'
          schema:
            $ref: '#/definitions/Estimates'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an estimate'
      operationId: createEstimate
      description: 'Creates a new estimate object. Returns an estimate object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              client_id:
                type: integer
                description: 'The ID of the client this estimate belongs to.'
                format: int32
              number:
                type: string
                description: 'If no value is set, the number will be automatically generated.'
              purchase_order:
                type: string
                description: 'The purchase order number.'
              tax:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              tax2:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              discount:
                type: number
                description: 'This percentage is subtracted from the subtotal. Example: use 10.0 for 10.0%.'
                format: float
              subject:
                type: string
                description: 'The estimate subject.'
              notes:
                type: string
                description: 'Any additional notes to include on the estimate.'
              currency:
                type: string
                description: 'The currency used by the estimate. If not provided, the client’s currency will be used. See a list of supported currencies'
              issue_date:
                type: string
                description: 'Date the estimate was issued. Defaults to today’s date.'
                format: date
              line_items:
                type: array
                description: 'Array of line item parameters'
                items:
                  type: object
                  required:
                    - project_ids
                  properties:
                    project_ids:
                      description: 'An array of the client’s project IDs you’d like to include time/expenses from.'
                      type: array
                      items:
                        type: integer
                    time:
                      description: 'An time import object.'
                      type: object
                      required:
                        - summary_type
                      properties:
                        summary_type:
                          type: string
                          description: 'How to summarize the time entries per line item. Options: project, task, people, or detailed.'
                        from:
                          type: string
                          format: date
                          description: 'Start date for included time entries. Must be provided if to is present. If neither from or to are provided, all unbilled time entries will be included.'
                        to:
                          type: string
                          format: date
                          description: 'End date for included time entries. Must be provided if from is present. If neither from or to are provided, all unbilled time entries will be included.'
                    expenses:
                      description: 'An expense import object.'
                      type: object
                      required:
                        - summary_type
                      properties:
                        summary_type:
                          type: string
                          description: 'How to summarize the expenses per line item. Options: project, category, people, or detailed.'
                        from:
                          type: string
                          format: date
                          description: 'Start date for included expenses. Must be provided if to is present. If neither from or to are provided, all unbilled expenses will be included.'
                        to:
                          type: string
                          format: date
                          description: 'End date for included expenses. Must be provided if from is present. If neither from or to are provided, all unbilled expenses will be included.'
                        attach_receipt:
                          type: boolean
                          description: 'If set to true, a PDF containing an expense report with receipts will be attached to the invoice. Defaults to false.'
            required:
              - client_id
      responses:
        201:
          description: 'Create an estimate'
          schema:
            $ref: '#/definitions/Estimate'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/estimates/{EstimateId}':
    get:
      summary: 'Retrieve an estimate'
      operationId: retrieveEstimate
      description: 'Retrieves the estimate with the given ID. Returns an estimate object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve an estimate'
          schema:
            $ref: '#/definitions/Estimate'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update an estimate'
      operationId: updateEstimate
      description: 'Updates the specific estimate by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an estimate object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              client_id:
                type: integer
                description: 'The ID of the client this estimate belongs to.'
                format: int32
              number:
                type: string
                description: 'If no value is set, the number will be automatically generated.'
              purchase_order:
                type: string
                description: 'The purchase order number.'
              tax:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              tax2:
                type: number
                description: 'This percentage is applied to the subtotal, including line items and discounts. Example: use 10.0 for 10.0%.'
                format: float
              discount:
                type: number
                description: 'This percentage is subtracted from the subtotal. Example: use 10.0 for 10.0%.'
                format: float
              subject:
                type: string
                description: 'The estimate subject.'
              notes:
                type: string
                description: 'Any additional notes to include on the estimate.'
              currency:
                type: string
                description: 'The currency used by the estimate. If not provided, the client’s currency will be used. See a list of supported currencies'
              issue_date:
                type: string
                description: 'Date the estimate was issued.'
                format: date
              line_items:
                type: array
                description: 'Array of line item parameters'
                items:
                  type: object
                  required:
                    - project_ids
                  properties:
                    project_ids:
                      description: 'An array of the client’s project IDs you’d like to include time/expenses from.'
                      type: array
                      items:
                        type: integer
                    time:
                      description: 'An time import object.'
                      type: object
                      required:
                        - summary_type
                      properties:
                        summary_type:
                          type: string
                          description: 'How to summarize the time entries per line item. Options: project, task, people, or detailed.'
                        from:
                          type: string
                          format: date
                          description: 'Start date for included time entries. Must be provided if to is present. If neither from or to are provided, all unbilled time entries will be included.'
                        to:
                          type: string
                          format: date
                          description: 'End date for included time entries. Must be provided if from is present. If neither from or to are provided, all unbilled time entries will be included.'
                    expenses:
                      description: 'An expense import object.'
                      type: object
                      required:
                        - summary_type
                      properties:
                        summary_type:
                          type: string
                          description: 'How to summarize the expenses per line item. Options: project, category, people, or detailed.'
                        from:
                          type: string
                          format: date
                          description: 'Start date for included expenses. Must be provided if to is present. If neither from or to are provided, all unbilled expenses will be included.'
                        to:
                          type: string
                          format: date
                          description: 'End date for included expenses. Must be provided if from is present. If neither from or to are provided, all unbilled expenses will be included.'
                        attach_receipt:
                          type: boolean
                          description: 'If set to true, a PDF containing an expense report with receipts will be attached to the invoice. Defaults to false.'
      responses:
        200:
          description: 'Update an estimate'
          schema:
            $ref: '#/definitions/Estimate'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an estimate'
      operationId: deleteEstimate
      description: 'Delete an estimate. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an estimate'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /estimate_item_categories:
    get:
      summary: 'List all estimate item categories'
      operationId: listEstimateItemCategories
      description: "Returns a list of your estimate item categories. The estimate item categories are returned sorted by creation date, with the most recently created estimate item categories appearing first.\n\nThe response contains an object with a estimate_item_categories property that contains an array of up to per_page estimate item categories. Each entry in the array is a separate estimate item category object. If no more estimate item categories are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your estimate item categories."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: updated_since
          description: 'Only return estimate item categories that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all estimate item categories'
          schema:
            $ref: '#/definitions/EstimateItemCategories'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an estimate item category'
      operationId: createEstimateItemCategory
      description: 'Creates a new estimate item category object. Returns an estimate item category object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the estimate item category.'
            required:
              - name
      responses:
        201:
          description: 'Create an estimate item category'
          schema:
            $ref: '#/definitions/EstimateItemCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/estimate_item_categories/{EstimateItemCategoryId}':
    get:
      summary: 'Retrieve an estimate item category'
      operationId: retrieveEstimateItemCategory
      description: 'Retrieves the estimate item category with the given ID. Returns an estimate item category object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateItemCategoryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve an estimate item category'
          schema:
            $ref: '#/definitions/EstimateItemCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update an estimate item category'
      operationId: updateEstimateItemCategory
      description: 'Updates the specific estimate item category by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an estimate item category object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateItemCategoryId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the estimate item category.'
      responses:
        200:
          description: 'Update an estimate item category'
          schema:
            $ref: '#/definitions/EstimateItemCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an estimate item category'
      operationId: deleteEstimateItemCategory
      description: 'Delete an estimate item category. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: EstimateItemCategoryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an estimate item category'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /expenses:
    get:
      summary: 'List all expenses'
      operationId: listExpenses
      description: "Returns a list of your expenses. If accessing this endpoint as an Admin, all expenses in the account will be returned. The expenses are returned sorted by the spent_at date, with the most recent expenses appearing first.\n\nThe response contains an object with a expenses property that contains an array of up to per_page expenses. Each entry in the array is a separate expense object. If no more expenses are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your expenses."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: user_id
          description: 'Only return expenses belonging to the user with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: client_id
          description: 'Only return expenses belonging to the client with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: project_id
          description: 'Only return expenses belonging to the project with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: is_billed
          description: 'Pass true to only return expenses that have been invoiced and false to return expenses that have not been invoiced.'
          required: false
          in: query
          type: boolean
        -
          name: updated_since
          description: 'Only return expenses that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: from
          description: 'Only return expenses with a spent_date on or after the given date.'
          required: false
          in: query
          type: string
        -
          name: to
          description: 'Only return expenses with a spent_date on or before the given date.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all expenses'
          schema:
            $ref: '#/definitions/Expenses'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an expense'
      operationId: createExpense
      description: 'Creates a new expense object. Returns an expense object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              user_id:
                type: integer
                description: 'The ID of the user associated with this expense.  Defaults to the ID of the currently authenticated user.'
                format: int32
              project_id:
                type: integer
                description: 'The ID of the project associated with this expense.'
                format: int32
              expense_category_id:
                type: integer
                description: 'The ID of the expense category this expense is being tracked against.'
                format: int32
              spent_date:
                type: string
                description: 'Date the expense occurred.'
                format: date
              units:
                type: integer
                description: 'The quantity of units to use in calculating the total_cost of the expense.'
                format: int32
              total_cost:
                type: number
                description: 'The total amount of the expense.'
                format: float
              notes:
                type: string
                description: 'Textual notes used to describe the expense.'
              billable:
                type: boolean
                description: 'Whether this expense is billable or not. Defaults to true.'
              receipt:
                type: string
                description: 'A receipt file to attach to the expense. If including a receipt, you must submit a multipart/form-data request.'
            required:
              - project_id
              - expense_category_id
              - spent_date
      responses:
        201:
          description: 'Create an expense'
          schema:
            $ref: '#/definitions/Expense'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/expenses/{ExpenseId}':
    get:
      summary: 'Retrieve an expense'
      operationId: retrieveExpense
      description: 'Retrieves the expense with the given ID. Returns an expense object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ExpenseId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve an expense'
          schema:
            $ref: '#/definitions/Expense'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update an expense'
      operationId: updateExpense
      description: 'Updates the specific expense by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an expense object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ExpenseId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              project_id:
                type: integer
                description: 'The ID of the project associated with this expense.'
                format: int32
              expense_category_id:
                type: integer
                description: 'The ID of the expense category this expense is being tracked against.'
                format: int32
              spent_date:
                type: string
                description: 'Date the expense occurred.'
                format: date
              units:
                type: integer
                description: 'The quantity of units to use in calculating the total_cost of the expense.'
                format: int32
              total_cost:
                type: number
                description: 'The total amount of the expense.'
                format: float
              notes:
                type: string
                description: 'Textual notes used to describe the expense.'
              billable:
                type: boolean
                description: 'Whether this expense is billable or not. Defaults to true.'
              receipt:
                type: string
                description: 'A receipt file to attach to the expense. If including a receipt, you must submit a multipart/form-data request.'
              delete_receipt:
                type: boolean
                description: 'Whether an attached expense receipt should be deleted. Pass true to delete the expense receipt.'
      responses:
        200:
          description: 'Update an expense'
          schema:
            $ref: '#/definitions/Expense'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an expense'
      operationId: deleteExpense
      description: 'Delete an expense. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ExpenseId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an expense'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /expense_categories:
    get:
      summary: 'List all expense categories'
      operationId: listExpenseCategories
      description: "Returns a list of your expense categories. The expense categories are returned sorted by creation date, with the most recently created expense categories appearing first.\n\nThe response contains an object with a expense_categories property that contains an array of up to per_page expense categories. Each entry in the array is a separate expense category object. If no more expense categories are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your expense categories."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: is_active
          description: 'Pass true to only return active expense categories and false to return inactive expense categories.'
          required: false
          in: query
          type: boolean
        -
          name: updated_since
          description: 'Only return expense categories that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all expense categories'
          schema:
            $ref: '#/definitions/ExpenseCategories'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an expense category'
      operationId: createExpenseCategory
      description: 'Creates a new expense category object. Returns an expense category object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the expense category.'
              unit_name:
                type: string
                description: 'The unit name of the expense category.'
              unit_price:
                type: number
                description: 'The unit price of the expense category.'
                format: float
              is_active:
                type: boolean
                description: 'Whether the expense category is active or archived. Defaults to true.'
            required:
              - name
      responses:
        201:
          description: 'Create an expense category'
          schema:
            $ref: '#/definitions/ExpenseCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/expense_categories/{ExpenseCategoryId}':
    get:
      summary: 'Retrieve an expense category'
      operationId: retrieveExpenseCategory
      description: 'Retrieves the expense category with the given ID. Returns an expense category object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ExpenseCategoryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve an expense category'
          schema:
            $ref: '#/definitions/ExpenseCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update an expense category'
      operationId: updateExpenseCategory
      description: 'Updates the specific expense category by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns an expense category object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ExpenseCategoryId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the expense category.'
              unit_name:
                type: string
                description: 'The unit name of the expense category.'
              unit_price:
                type: number
                description: 'The unit price of the expense category.'
                format: float
              is_active:
                type: boolean
                description: 'Whether the expense category is active or archived.'
      responses:
        200:
          description: 'Update an expense category'
          schema:
            $ref: '#/definitions/ExpenseCategory'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an expense category'
      operationId: deleteExpenseCategory
      description: 'Delete an expense category. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: ExpenseCategoryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete an expense category'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /tasks:
    get:
      summary: 'List all tasks'
      operationId: listTasks
      description: "Returns a list of your tasks. The tasks are returned sorted by creation date, with the most recently created tasks appearing first.\n\nThe response contains an object with a tasks property that contains an array of up to per_page tasks. Each entry in the array is a separate task object. If no more tasks are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your tasks."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: is_active
          description: 'Pass true to only return active tasks and false to return inactive tasks.'
          required: false
          in: query
          type: boolean
        -
          name: updated_since
          description: 'Only return tasks that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all tasks'
          schema:
            $ref: '#/definitions/Tasks'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create a task'
      operationId: createTask
      description: 'Creates a new task object. Returns a task object and a 201 Created response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the task.'
              billable_by_default:
                type: boolean
                description: 'Used in determining whether default tasks should be marked billable when creating a new project. Defaults to true.'
              default_hourly_rate:
                type: number
                description: 'The default hourly rate to use for this task when it is added to a project. Defaults to 0.'
                format: float
              is_default:
                type: boolean
                description: 'Whether this task should be automatically added to future projects. Defaults to false.'
              is_active:
                type: boolean
                description: 'Whether this task is active or archived. Defaults to true.'
            required:
              - name
      responses:
        201:
          description: 'Create a task'
          schema:
            $ref: '#/definitions/Task'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/tasks/{TaskId}':
    get:
      summary: 'Retrieve a task'
      operationId: retrieveTask
      description: 'Retrieves the task with the given ID. Returns a task object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TaskId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve a task'
          schema:
            $ref: '#/definitions/Task'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update a task'
      operationId: updateTask
      description: 'Updates the specific task by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns a task object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TaskId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: 'The name of the task.'
              billable_by_default:
                type: boolean
                description: 'Used in determining whether default tasks should be marked billable when creating a new project.'
              default_hourly_rate:
                type: number
                description: 'The default hourly rate to use for this task when it is added to a project.'
                format: float
              is_default:
                type: boolean
                description: 'Whether this task should be automatically added to future projects.'
              is_active:
                type: boolean
                description: 'Whether this task is active or archived.'
      responses:
        200:
          description: 'Update a task'
          schema:
            $ref: '#/definitions/Task'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a task'
      operationId: deleteTask
      description: 'Delete a task. Deleting a task is only possible if it has no time entries associated with it. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TaskId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete a task'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /time_entries:
    get:
      summary: 'List all time entries'
      operationId: listTimeEntries
      description: "Returns a list of your time entries. The time entries are returned sorted by spent_at date. At this time, the sort option can’t be customized.\n\nThe response contains an object with a time_entries property that contains an array of up to per_page time entries. Each entry in the array is a separate time entry object. If no more time entries are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your time entries."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: user_id
          description: 'Only return time entries belonging to the user with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: client_id
          description: 'Only return time entries belonging to the client with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: project_id
          description: 'Only return time entries belonging to the project with the given ID.'
          required: false
          in: query
          type: integer
        -
          name: is_billed
          description: 'Pass true to only return time entries that have been invoiced and false to return time entries that have not been invoiced.'
          required: false
          in: query
          type: boolean
        -
          name: is_running
          description: 'Pass true to only return running time entries and false to return non-running time entries.'
          required: false
          in: query
          type: boolean
        -
          name: updated_since
          description: 'Only return time entries that have been updated since the given date and time. Use the ISO 8601 Format.'
          required: false
          in: query
          type: string
        -
          name: from
          description: 'Only return time entries with a spent_date on or after the given date.'
          required: false
          in: query
          type: string
        -
          name: to
          description: 'Only return time entries with a spent_date on or before the given date.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
          required: false
          in: query
          type: integer
      responses:
        200:
          description: 'List all time entries'
          schema:
            $ref: '#/definitions/TimeEntries'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create a time entry via start and end time'
      operationId: createTimeEntryViaStartAndEndTime
      description: "Creates a new time entry object. Returns a time entry object and a 201 Created response code if the call succeeded.\n\nYou should only use this method to create time entries when your account is configured to track time via start and end time. You can verify this by visiting the Settings page in your Harvest account or by checking if wants_timestamp_timers is true in the Company API."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              user_id:
                type: integer
                description: 'The ID of the user to associate with the time entry. Defaults to the currently authenticated user’s ID.'
                format: int32
              project_id:
                type: integer
                description: 'The ID of the project to associate with the time entry.'
                format: int32
              task_id:
                type: integer
                description: 'The ID of the task to associate with the time entry.'
                format: int32
              spent_date:
                type: string
                description: 'The ISO 8601 formatted date the time entry was spent.'
                format: date
              started_time:
                type: string
                description: 'The time the entry started. Defaults to the current time. Example: “8:00am”.'
              ended_time:
                type: string
                description: 'The time the entry ended. If provided, is_running will be set to false. If not provided, is_running will be set to true.'
              notes:
                type: string
                description: 'Any notes to be associated with the time entry.'
              external_reference:
                type: object
                description: 'An object containing the id, group_id, and permalink of the external reference.'
                properties:
                  group_id:
                    type: string
                  permalink:
                    type: string
            required:
              - project_id
              - task_id
              - spent_date
      responses:
        201:
          description: 'Create a time entry via start and end time'
          schema:
            $ref: '#/definitions/TimeEntry'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/time_entries/{TimeEntryId}':
    get:
      summary: 'Retrieve a time entry'
      operationId: retrieveTimeEntry
      description: 'Retrieves the time entry with the given ID. Returns a time entry object and a 200 OK response code if a valid identifier was provided.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TimeEntryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Retrieve a time entry'
          schema:
            $ref: '#/definitions/TimeEntry'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update a time entry'
      operationId: updateTimeEntry
      description: 'Updates the specific time entry by setting the values of the parameters passed. Any parameters not provided will be left unchanged. Returns a time entry object and a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TimeEntryId
          required: true
          in: path
          type: string
        -
          name: payload
          description: 'json payload'
          required: true
          in: body
          schema:
            type: object
            properties:
              project_id:
                type: integer
                description: 'The ID of the project to associate with the time entry.'
                format: int32
              task_id:
                type: integer
                description: 'The ID of the task to associate with the time entry.'
                format: int32
              spent_date:
                type: string
                description: 'The ISO 8601 formatted date the time entry was spent.'
                format: date
              started_time:
                type: string
                description: 'The time the entry started. Defaults to the current time. Example: “8:00am”.'
              ended_time:
                type: string
                description: 'The time the entry ended.'
              hours:
                type: number
                description: 'The current amount of time tracked.'
                format: float
              notes:
                type: string
                description: 'Any notes to be associated with the time entry.'
              external_reference:
                type: object
                description: 'An object containing the id, group_id, and permalink of the external reference.'
                properties:
                  group_id:
                    type: string
                  permalink:
                    type: string
      responses:
        200:
          description: 'Update a time entry'
          schema:
            $ref: '#/definitions/TimeEntry'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a time entry'
      operationId: deleteTimeEntry
      description: 'Delete a time entry. Deleting a time entry is only possible if it’s not closed and the associated project and task haven’t been archived.  However, Admins can delete closed entries. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TimeEntryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete a time entry'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/time_entries/{TimeEntryId}/external_reference':
    delete:
      summary: 'Delete a time entry’s external reference'
      operationId: deleteTimeEntryExternalReference
      description: 'Delete a time entry’s external reference. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TimeEntryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Delete a time entry’s external reference'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/time_entries/{TimeEntryId}/restart':
    patch:
      summary: 'Restart a stopped time entry'
      operationId: restartStoppedTimeEntry
      description: 'Restarting a time entry is only possible if it isn’t currently running. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TimeEntryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Restart a stopped time entry'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  '/time_entries/{TimeEntryId}/stop':
    patch:
      summary: 'Stop a running time entry'
      operationId: stopRunningTimeEntry
      description: 'Stopping a time entry is only possible if it’s currently running. Returns a 200 OK response code if the call succeeded.'
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: TimeEntryId
          required: true
          in: path
          type: string
      responses:
        200:
          description: 'Stop a running time entry'
        default:
          description: 'error payload'
          schema:
            $ref: '#/definitions/Error'
  /user_assignments:
    get:
      summary: 'List all user assignments'
      operationId: listUserAssignments
      description: "Returns a list of your user assignments. The user assignments are returned sorted by creation date, with the most recently created user assignments appearing first.\n\nThe response contains an object with a user_assignments property that contains an array of up to per_page user assignments. Each entry in the array is a separate user assignment object. If no more user assignments are available, the resulting array will be empty. Several additional pagination properties are included in the response to simplify paginating your user assignments."
      security:
        -
          BearerAuth: []
          AccountAuth: []
      parameters:
        -
          name: is_active
          description: 'Pass true to only return active user assignments and false to return inactive user assignments.'
          required: false
          in: query
          type: boolean
        -
          name: updated_since
          description: 'Only return user assignments that have been updated since the given date and time.'
          required: false
          in: query
          type: string
        -
          name: page
          description: 'The page number to use in pagination. For instance, if you make a list request and receive 100 records, your subsequent call can include page=2 to retrieve the next page of the list. (Default: 1)'
          required: false
          in: query
          type: integer
        -
          name: per_page
          description: 'The number of records to return per page. Can range between 1 and 100.  (Default: 100)'
[...]
