openapi: 3.0.1
info:
  version: 1.0.0
  title: 'Harvestapp API'
  license:
    name: MIT
externalDocs:
  description: 'Learn more about the Harvest Web API'
  url: 'https://help.getharvest.com/api-v2/'
servers:
  -
    url: 'https://api.harvestapp.com/v2'
components:
  securitySchemes:
    BearerAuth:
      type: apiKey
      in: header
      name: Authorization
    AccountAuth:
      type: apiKey
      in: header
      name: Harvest-Account-Id
  schemas:
    Contact:
      type: object
      externalDocs:
        description: contact
        url: 'https://help.getharvest.com/api-v2/clients-api/clients/contacts/#the-contact-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the contact.'
          nullable: true
          format: int32
        client:
          type: object
          description: 'An object containing the contact’s client id and name.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        title:
          type: string
          description: 'The title of the contact.'
          nullable: true
        first_name:
          type: string
          description: 'The first name of the contact.'
          nullable: true
        last_name:
          type: string
          description: 'The last name of the contact.'
          nullable: true
        email:
          type: string
          description: 'The contact’s email address.'
          nullable: true
          format: email
        phone_office:
          type: string
          description: 'The contact’s office phone number.'
          nullable: true
        phone_mobile:
          type: string
          description: 'The contact’s mobile phone number.'
          nullable: true
        fax:
          type: string
          description: 'The contact’s fax number.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the contact was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the contact was last updated.'
          nullable: true
          format: date-time
    Client:
      type: object
      externalDocs:
        description: client
        url: 'https://help.getharvest.com/api-v2/clients-api/clients/clients/#the-client-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the client.'
          nullable: true
          format: int32
        name:
          type: string
          description: 'A textual description of the client.'
          nullable: true
        is_active:
          type: boolean
          description: 'Whether the client is active or archived.'
          nullable: true
        address:
          type: string
          description: 'The physical address for the client.'
          nullable: true
        statement_key:
          type: string
          description: 'Used to build a URL to your client’s invoice dashboard:https://{ACCOUNT_SUBDOMAIN}.harvestapp.com/client/statements/{STATEMENT_KEY}'
          nullable: true
        currency:
          type: string
          description: 'The currency code associated with this client.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the client was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the client was last updated.'
          nullable: true
          format: date-time
    Company:
      type: object
      externalDocs:
        description: company
        url: 'https://help.getharvest.com/api-v2/company-api/company/company/#the-company-object'
      properties:
        base_uri:
          type: string
          description: 'The Harvest URL for the company.'
          nullable: true
        full_domain:
          type: string
          description: 'The Harvest domain for the company.'
          nullable: true
        name:
          type: string
          description: 'The name of the company.'
          nullable: true
        is_active:
          type: boolean
          description: 'Whether the company is active or archived.'
          nullable: true
        week_start_day:
          type: string
          description: 'The weekday used as the start of the week. Returns one of: Saturday, Sunday, or Monday.'
          nullable: true
        wants_timestamp_timers:
          type: boolean
          description: 'Whether time is tracked via duration or start and end times.'
          nullable: true
        time_format:
          type: string
          description: 'The format used to display time in Harvest. Returns either decimal or hours_minutes.'
          nullable: true
        date_format:
          type: string
          description: 'The format used to display date in Harvest. Returns one of: %m/%d/%Y, %d/%m/%Y, %Y-%m-%d, %d.%m.%Y,.%Y.%m.%d or %Y/%m/%d.'
          nullable: true
        plan_type:
          type: string
          description: 'The type of plan the company is on. Examples: trial, free, or simple-v4'
          nullable: true
        clock:
          type: string
          description: 'Used to represent whether the company is using a 12-hour or 24-hour clock. Returns either 12h or 24h.'
          nullable: true
        currency_code_display:
          type: string
          description: 'How to display the currency code when formatting currency. Returns one of: iso_code_none, iso_code_before, or iso_code_after.'
          nullable: true
        currency_symbol_display:
          type: string
          description: 'How to display the currency symbol when formatting currency. Returns one of: symbol_none, symbol_before, or symbol_after.'
          nullable: true
        decimal_symbol:
          type: string
          description: 'Symbol used when formatting decimals.'
          nullable: true
        thousands_separator:
          type: string
          description: 'Separator used when formatting numbers.'
          nullable: true
        color_scheme:
          type: string
          description: 'The color scheme being used in the Harvest web client.'
          nullable: true
        weekly_capacity:
          type: integer
          description: 'The weekly capacity in seconds.'
          nullable: true
          format: int32
        expense_feature:
          type: boolean
          description: 'Whether the expense module is enabled.'
          nullable: true
        invoice_feature:
          type: boolean
          description: 'Whether the invoice module is enabled.'
          nullable: true
        estimate_feature:
          type: boolean
          description: 'Whether the estimate module is enabled.'
          nullable: true
        approval_feature:
          type: boolean
          description: 'Whether the approval module is enabled.'
          nullable: true
    InvoiceMessage:
      type: object
      externalDocs:
        description: invoice-message
        url: 'https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-messages/#the-invoice-message-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the message.'
          nullable: true
          format: int32
        sent_by:
          type: string
          description: 'Name of the user that created the message.'
          nullable: true
        sent_by_email:
          type: string
          description: 'Email of the user that created the message.'
          nullable: true
        sent_from:
          type: string
          description: 'Name of the user that the message was sent from.'
          nullable: true
        sent_from_email:
          type: string
          description: 'Email of the user that message was sent from.'
          nullable: true
        recipients:
          type: array
          description: 'Array of invoice message recipients.'
          nullable: true
          items:
            $ref: '#/components/schemas/InvoiceMessageRecipient'
        subject:
          type: string
          description: 'The message subject.'
          nullable: true
        body:
          type: string
          description: 'The message body.'
          nullable: true
        include_link_to_client_invoice:
          type: boolean
          description: 'DEPRECATED This will be true when payment_options are assigned to the invoice and false when there are no payment_options.'
          nullable: true
          deprecated: true
        attach_pdf:
          type: boolean
          description: 'Whether to attach the invoice PDF to the message email.'
          nullable: true
        send_me_a_copy:
          type: boolean
          description: 'Whether to email a copy of the message to the current user.'
          nullable: true
        thank_you:
          type: boolean
          description: 'Whether this is a thank you message.'
          nullable: true
        event_type:
          type: string
          description: 'The type of invoice event that occurred with the message: send, close, draft, re-open, or view.'
          nullable: true
        reminder:
          type: boolean
          description: 'Whether this is a reminder message.'
          nullable: true
        send_reminder_on:
          type: string
          description: 'The date the reminder email will be sent.'
          nullable: true
          format: date
        created_at:
          type: string
          description: 'Date and time the message was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the message was last updated.'
          nullable: true
          format: date-time
    InvoiceMessageRecipient:
      type: object
      externalDocs:
        description: invoice-message-recipient
        url: 'https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-messages/#the-invoice-message-recipient-object'
      properties:
        name:
          type: string
          description: 'Name of the message recipient.'
          nullable: true
        email:
          type: string
          description: 'Email of the message recipient.'
          nullable: true
          format: email
    InvoicePayment:
      type: object
      externalDocs:
        description: invoice-payment
        url: 'https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-payments/#the-invoice-payment-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the payment.'
          nullable: true
          format: int32
        amount:
          type: number
          description: 'The amount of the payment.'
          nullable: true
          format: float
        paid_at:
          type: string
          description: 'Date and time the payment was made.'
          nullable: true
          format: date-time
        paid_date:
          type: string
          description: 'Date the payment was made.'
          nullable: true
          format: date
        recorded_by:
          type: string
          description: 'The name of the person who recorded the payment.'
          nullable: true
        recorded_by_email:
          type: string
          description: 'The email of the person who recorded the payment.'
          nullable: true
        notes:
          type: string
          description: 'Any notes associated with the payment.'
          nullable: true
        transaction_id:
          type: string
          description: 'Either the card authorization or PayPal transaction ID.'
          nullable: true
        payment_gateway:
          type: object
          description: 'The payment gateway id and name used to process the payment.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        created_at:
          type: string
          description: 'Date and time the payment was recorded.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the payment was last updated.'
          nullable: true
          format: date-time
    Invoice:
      type: object
      externalDocs:
        description: invoice
        url: 'https://help.getharvest.com/api-v2/invoices-api/invoices/invoices/#the-invoice-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the invoice.'
          nullable: true
          format: int32
        client:
          type: object
          description: 'An object containing invoice’s client id and name.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        line_items:
          type: array
          description: 'Array of invoice line items.'
          nullable: true
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        estimate:
          type: object
          description: 'An object containing the associated estimate’s id.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
        retainer:
          type: object
          description: 'An object containing the associated retainer’s id.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
        creator:
          type: object
          description: 'An object containing the id and name of the person that created the invoice.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        client_key:
          type: string
          description: 'Used to build a URL to the public web invoice for your client by adding /client/invoices/{CLIENT_KEY} to your account URL https://{SUBDOMAIN}.harvestapp.com/ Note: you can also add .pdf to the end of this URL to access a PDF version of the invoice.'
          nullable: true
        number:
          type: string
          description: 'If no value is set, the number will be automatically generated.'
          nullable: true
        purchase_order:
          type: string
          description: 'The purchase order number.'
          nullable: true
        amount:
          type: number
          description: 'The total amount for the invoice, including any discounts and taxes.'
          nullable: true
          format: float
        due_amount:
          type: number
          description: 'The total amount due at this time for this invoice.'
          nullable: true
          format: float
        tax:
          type: number
          description: 'This percentage is applied to the subtotal, including line items and discounts.'
          nullable: true
          format: float
        tax_amount:
          type: number
          description: 'The first amount of tax included, calculated from tax. If no tax is defined, this value will be null.'
          nullable: true
          format: float
        tax2:
          type: number
          description: 'This percentage is applied to the subtotal, including line items and discounts.'
          nullable: true
          format: float
        tax2_amount:
          type: number
          description: 'The amount calculated from tax2.'
          nullable: true
          format: float
        discount:
          type: number
          description: 'This percentage is subtracted from the subtotal.'
          nullable: true
          format: float
        discount_amount:
          type: number
          description: 'The amount calculated from discount.'
          nullable: true
          format: float
        subject:
          type: string
          description: 'The invoice subject.'
          nullable: true
        notes:
          type: string
          description: 'Any additional notes included on the invoice.'
          nullable: true
        currency:
          type: string
          description: 'The currency code associated with this invoice.'
          nullable: true
        state:
          type: string
          description: 'The current state of the invoice: draft, open, paid, or closed.'
          nullable: true
        period_start:
          type: string
          description: 'Start of the period during which time entries were added to this invoice.'
          nullable: true
          format: date
        period_end:
          type: string
          description: 'End of the period during which time entries were added to this invoice.'
          nullable: true
          format: date
        issue_date:
          type: string
          description: 'Date the invoice was issued.'
          nullable: true
          format: date
        due_date:
          type: string
          description: 'Date the invoice is due.'
          nullable: true
          format: date
        payment_term:
          type: string
          description: 'The timeframe in which the invoice should be paid. Options: upon receipt, net 15, net 30, net 45, net 60, or custom.'
          nullable: true
        payment_options:
          type: array
          description: 'The list of payment options enabled for the invoice. Options: [ach, credit_card, paypal]'
          nullable: true
          items:
            type: string
            enum:
              - ach
              - credit_card
              - paypal
        sent_at:
          type: string
          description: 'Date and time the invoice was sent.'
          nullable: true
          format: date-time
        paid_at:
          type: string
          description: 'Date and time the invoice was paid.'
          nullable: true
          format: date-time
        paid_date:
          type: string
          description: 'Date the invoice was paid.'
          nullable: true
          format: date
        closed_at:
          type: string
          description: 'Date and time the invoice was closed.'
          nullable: true
          format: date-time
        recurring_invoice_id:
          type: integer
          description: 'Unique ID of the associated recurring invoice.'
          nullable: true
          format: int32
        created_at:
          type: string
          description: 'Date and time the invoice was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the invoice was last updated.'
          nullable: true
          format: date-time
    InvoiceLineItem:
      type: object
      externalDocs:
        description: invoice-line-item
        url: 'https://help.getharvest.com/api-v2/invoices-api/invoices/invoices/#the-invoice-line-item-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the line item.'
          nullable: true
          format: int32
        project:
          type: object
          description: 'An object containing the associated project’s id, name, and code.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            code:
              type: string
              nullable: true
        kind:
          type: string
          description: 'The name of an invoice item category.'
          nullable: true
        description:
          type: string
          description: 'Text description of the line item.'
          nullable: true
        quantity:
          type: number
          description: 'The unit quantity of the item.'
          nullable: true
          format: float
        unit_price:
          type: number
          description: 'The individual price per unit.'
          nullable: true
          format: float
        amount:
          type: number
          description: 'The line item subtotal (quantity * unit_price).'
          nullable: true
          format: float
        taxed:
          type: boolean
          description: 'Whether the invoice’s tax percentage applies to this line item.'
          nullable: true
        taxed2:
          type: boolean
          description: 'Whether the invoice’s tax2 percentage applies to this line item.'
          nullable: true
    InvoiceItemCategory:
      type: object
      externalDocs:
        description: invoice-item-category
        url: 'https://help.getharvest.com/api-v2/invoices-api/invoices/invoice-item-categories/#the-invoice-item-category-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the invoice item category.'
          nullable: true
          format: int32
        name:
          type: string
          description: 'The name of the invoice item category.'
          nullable: true
        use_as_service:
          type: boolean
          description: 'Whether this invoice item category is used for billable hours when generating an invoice.'
          nullable: true
        use_as_expense:
          type: boolean
          description: 'Whether this invoice item category is used for expenses when generating an invoice.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the invoice item category was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the invoice item category was last updated.'
          nullable: true
          format: date-time
    EstimateMessage:
      type: object
      externalDocs:
        description: estimate-message
        url: 'https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-messages/#the-estimate-message-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the message.'
          nullable: true
          format: int32
        sent_by:
          type: string
          description: 'Name of the user that created the message.'
          nullable: true
        sent_by_email:
          type: string
          description: 'Email of the user that created the message.'
          nullable: true
        sent_from:
          type: string
          description: 'Name of the user that the message was sent from.'
          nullable: true
        sent_from_email:
          type: string
          description: 'Email of the user that message was sent from.'
          nullable: true
        recipients:
          type: array
          description: 'Array of estimate message recipients.'
          nullable: true
          items:
            $ref: '#/components/schemas/EstimateMessageRecipient'
        subject:
          type: string
          description: 'The message subject.'
          nullable: true
        body:
          type: string
          description: 'The message body.'
          nullable: true
        send_me_a_copy:
          type: boolean
          description: 'Whether to email a copy of the message to the current user.'
          nullable: true
        event_type:
          type: string
          description: 'The type of estimate event that occurred with the message: send, accept, decline, re-open, view, or invoice.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the message was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the message was last updated.'
          nullable: true
          format: date-time
    EstimateMessageRecipient:
      type: object
      externalDocs:
        description: estimate-message-recipient
        url: 'https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-messages/#the-estimate-message-recipient-object'
      properties:
        name:
          type: string
          description: 'Name of the message recipient.'
          nullable: true
        email:
          type: string
          description: 'Email of the message recipient.'
          nullable: true
          format: email
    Estimate:
      type: object
      externalDocs:
        description: estimate
        url: 'https://help.getharvest.com/api-v2/estimates-api/estimates/estimates/#the-estimate-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the estimate.'
          nullable: true
          format: int32
        client:
          type: object
          description: 'An object containing estimate’s client id and name.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        line_items:
          type: array
          description: 'Array of estimate line items.'
          nullable: true
          items:
            $ref: '#/components/schemas/EstimateLineItem'
        creator:
          type: object
          description: 'An object containing the id and name of the person that created the estimate.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        client_key:
          type: string
          description: 'Used to build a URL to the public web invoice for your client:https://{ACCOUNT_SUBDOMAIN}.harvestapp.com/client/estimates/abc123456'
          nullable: true
        number:
          type: string
          description: 'If no value is set, the number will be automatically generated.'
          nullable: true
        purchase_order:
          type: string
          description: 'The purchase order number.'
          nullable: true
        amount:
          type: number
          description: 'The total amount for the estimate, including any discounts and taxes.'
          nullable: true
          format: float
        tax:
          type: number
          description: 'This percentage is applied to the subtotal, including line items and discounts.'
          nullable: true
          format: float
        tax_amount:
          type: number
          description: 'The first amount of tax included, calculated from tax. If no tax is defined, this value will be null.'
          nullable: true
          format: float
        tax2:
          type: number
          description: 'This percentage is applied to the subtotal, including line items and discounts.'
          nullable: true
          format: float
        tax2_amount:
          type: number
          description: 'The amount calculated from tax2.'
          nullable: true
          format: float
        discount:
          type: number
          description: 'This percentage is subtracted from the subtotal.'
          nullable: true
          format: float
        discount_amount:
          type: number
          description: 'The amount calculated from discount.'
          nullable: true
          format: float
        subject:
          type: string
          description: 'The estimate subject.'
          nullable: true
        notes:
          type: string
          description: 'Any additional notes included on the estimate.'
          nullable: true
        currency:
          type: string
          description: 'The currency code associated with this estimate.'
          nullable: true
        state:
          type: string
          description: 'The current state of the estimate: draft, sent, accepted, or declined.'
          nullable: true
        issue_date:
          type: string
          description: 'Date the estimate was issued.'
          nullable: true
          format: date
        sent_at:
          type: string
          description: 'Date and time the estimate was sent.'
          nullable: true
          format: date-time
        accepted_at:
          type: string
          description: 'Date and time the estimate was accepted.'
          nullable: true
          format: date-time
        declined_at:
          type: string
          description: 'Date and time the estimate was declined.'
          nullable: true
          format: date-time
        created_at:
          type: string
          description: 'Date and time the estimate was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the estimate was last updated.'
          nullable: true
          format: date-time
    EstimateLineItem:
      type: object
      externalDocs:
        description: estimate-line-item
        url: 'https://help.getharvest.com/api-v2/estimates-api/estimates/estimates/#the-estimate-line-item-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the line item.'
          nullable: true
          format: int32
        kind:
          type: string
          description: 'The name of an estimate item category.'
          nullable: true
        description:
          type: string
          description: 'Text description of the line item.'
          nullable: true
        quantity:
          type: number
          description: 'The unit quantity of the item.'
          nullable: true
          format: float
        unit_price:
          type: number
          description: 'The individual price per unit.'
          nullable: true
          format: float
        amount:
          type: number
          description: 'The line item subtotal (quantity * unit_price).'
          nullable: true
          format: float
        taxed:
          type: boolean
          description: 'Whether the estimate’s tax percentage applies to this line item.'
          nullable: true
        taxed2:
          type: boolean
          description: 'Whether the estimate’s tax2 percentage applies to this line item.'
          nullable: true
    EstimateItemCategory:
      type: object
      externalDocs:
        description: estimate-item-category
        url: 'https://help.getharvest.com/api-v2/estimates-api/estimates/estimate-item-categories/#the-estimate-item-category-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the estimate item category.'
          nullable: true
          format: int32
        name:
          type: string
          description: 'The name of the estimate item category.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the estimate item category was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the estimate item category was last updated.'
          nullable: true
          format: date-time
    Expense:
      type: object
      externalDocs:
        description: expense
        url: 'https://help.getharvest.com/api-v2/expenses-api/expenses/expenses/#the-expense-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the expense.'
          nullable: true
          format: int32
        client:
          type: object
          description: 'An object containing the expense’s client id, name, and currency.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            currency:
              type: string
              nullable: true
        project:
          type: object
          description: 'An object containing the expense’s project id, name, and code.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            code:
              type: string
              nullable: true
        expense_category:
          type: object
          description: 'An object containing the expense’s expense category id, name, unit_price, and unit_name.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            unit_price:
              type: string
              nullable: true
            unit_name:
              type: string
              nullable: true
        user:
          type: object
          description: 'An object containing the id and name of the user that recorded the expense.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        user_assignment:
          type: object
          description: 'A user assignment object of the user that recorded the expense.'
          nullable: true
          $ref: '#/components/schemas/UserAssignment'
        receipt:
          type: object
          description: 'An object containing the expense’s receipt URL and file name.'
          nullable: true
          properties:
            url:
              type: string
              nullable: true
            file_name:
              type: string
              nullable: true
            file_size:
              type: integer
              format: int32
              nullable: true
            content_type:
              type: string
              nullable: true
        invoice:
          type: object
          description: 'Once the expense has been invoiced, this field will include the associated invoice’s id and number.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            number:
              type: string
              nullable: true
        notes:
          type: string
          description: 'Textual notes used to describe the expense.'
          nullable: true
        units:
          type: integer
          description: 'The quantity of units used to calculate the total_cost of the expense.'
          nullable: true
          format: int32
        total_cost:
          type: number
          description: 'The total amount of the expense.'
          nullable: true
          format: float
        billable:
          type: boolean
          description: 'Whether the expense is billable or not.'
          nullable: true
        is_closed:
          type: boolean
          description: 'Whether the expense has been approved or closed for some other reason.'
          nullable: true
        is_locked:
          type: boolean
          description: 'Whether the expense has been been invoiced, approved, or the project or person related to the expense is archived.'
          nullable: true
        is_billed:
          type: boolean
          description: 'Whether or not the expense has been marked as invoiced.'
          nullable: true
        locked_reason:
          type: string
          description: 'An explanation of why the expense has been locked.'
          nullable: true
        spent_date:
          type: string
          description: 'Date the expense occurred.'
          nullable: true
          format: date
        created_at:
          type: string
          description: 'Date and time the expense was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the expense was last updated.'
          nullable: true
          format: date-time
    ExpenseCategory:
      type: object
      externalDocs:
        description: expense-category
        url: 'https://help.getharvest.com/api-v2/expenses-api/expenses/expense-categories/#the-expense-category-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the expense category.'
          nullable: true
          format: int32
        name:
          type: string
          description: 'The name of the expense category.'
          nullable: true
        unit_name:
          type: string
          description: 'The unit name of the expense category.'
          nullable: true
        unit_price:
          type: number
          description: 'The unit price of the expense category.'
          nullable: true
          format: float
        is_active:
          type: boolean
          description: 'Whether the expense category is active or archived.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the expense category was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the expense category was last updated.'
          nullable: true
          format: date-time
    Task:
      type: object
      externalDocs:
        description: task
        url: 'https://help.getharvest.com/api-v2/tasks-api/tasks/tasks/#the-task-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the task.'
          nullable: true
          format: int32
        name:
          type: string
          description: 'The name of the task.'
          nullable: true
        billable_by_default:
          type: boolean
          description: 'Used in determining whether default tasks should be marked billable when creating a new project.'
          nullable: true
        default_hourly_rate:
          type: number
          description: 'The hourly rate to use for this task when it is added to a project.'
          nullable: true
          format: float
        is_default:
          type: boolean
          description: 'Whether this task should be automatically added to future projects.'
          nullable: true
        is_active:
          type: boolean
          description: 'Whether this task is active or archived.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the task was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the task was last updated.'
          nullable: true
          format: date-time
    TimeEntry:
      type: object
      externalDocs:
        description: time-entry
        url: 'https://help.getharvest.com/api-v2/timesheets-api/timesheets/time-entries/#the-time-entry-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the time entry.'
          nullable: true
        spent_date:
          type: string
          description: 'Date of the time entry.'
          nullable: true
          format: date
        user:
          type: object
          description: 'An object containing the id and name of the associated user.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        user_assignment:
          type: object
          description: 'A user assignment object of the associated user.'
          nullable: true
          $ref: '#/components/schemas/UserAssignment'
        client:
          type: object
          description: 'An object containing the id and name of the associated client.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        project:
          type: object
          description: 'An object containing the id and name of the associated project.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        task:
          type: object
          description: 'An object containing the id and name of the associated task.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        task_assignment:
          type: object
          description: 'A task assignment object of the associated task.'
          nullable: true
          $ref: '#/components/schemas/TaskAssignment'
        external_reference:
          type: object
          description: 'An object containing the id, group_id, account_id, permalink, service, and service_icon_url of the associated external reference.'
          nullable: true
          properties:
            id:
              type: string
              nullable: true
            group_id:
              type: string
              nullable: true
            account_id:
              type: string
              nullable: true
            permalink:
              type: string
              nullable: true
            service:
              type: string
              nullable: true
            service_icon_url:
              type: string
              nullable: true
        invoice:
          type: object
          description: 'Once the time entry has been invoiced, this field will include the associated invoice’s id and number.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            number:
              type: string
              nullable: true
        hours:
          type: number
          description: 'Number of (decimal time) hours tracked in this time entry.'
          nullable: true
          format: float
        hours_without_timer:
          type: number
          description: 'Number of (decimal time) hours already tracked in this time entry, before the timer was last started.'
          nullable: true
          format: float
        rounded_hours:
          type: number
          description: 'Number of (decimal time) hours tracked in this time entry used in summary reports and invoices. This value is rounded according to the Time Rounding setting in your Preferences.'
          nullable: true
          format: float
        notes:
          type: string
          description: 'Notes attached to the time entry.'
          nullable: true
        is_locked:
          type: boolean
          description: 'Whether or not the time entry has been locked.'
          nullable: true
        locked_reason:
          type: string
          description: 'Why the time entry has been locked.'
          nullable: true
        is_closed:
          type: boolean
          description: 'Whether or not the time entry has been approved via Timesheet Approval.'
          nullable: true
        is_billed:
          type: boolean
          description: 'Whether or not the time entry has been marked as invoiced.'
          nullable: true
        timer_started_at:
          type: string
          description: 'Date and time the timer was started (if tracking by duration). Use the ISO 8601 Format.'
          nullable: true
          format: date-time
        started_time:
          type: string
          description: 'Time the time entry was started (if tracking by start/end times).'
          nullable: true
        ended_time:
          type: string
          description: 'Time the time entry was ended (if tracking by start/end times).'
          nullable: true
        is_running:
          type: boolean
          description: 'Whether or not the time entry is currently running.'
          nullable: true
        billable:
          type: boolean
          description: 'Whether or not the time entry is billable.'
          nullable: true
        budgeted:
          type: boolean
          description: 'Whether or not the time entry counts towards the project budget.'
          nullable: true
        billable_rate:
          type: number
          description: 'The billable rate for the time entry.'
          nullable: true
          format: float
        cost_rate:
          type: number
          description: 'The cost rate for the time entry.'
          nullable: true
          format: float
        created_at:
          type: string
          description: 'Date and time the time entry was created. Use the ISO 8601 Format.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the time entry was last updated. Use the ISO 8601 Format.'
          nullable: true
          format: date-time
    UserAssignment:
      type: object
      externalDocs:
        description: user-assignment
        url: 'https://help.getharvest.com/api-v2/projects-api/projects/user-assignments/#the-user-assignment-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the user assignment.'
          nullable: true
          format: int32
        project:
          type: object
          description: 'An object containing the id, name, and code of the associated project.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            code:
              type: string
              nullable: true
        user:
          type: object
          description: 'An object containing the id and name of the associated user.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        is_active:
          type: boolean
          description: 'Whether the user assignment is active or archived.'
          nullable: true
        is_project_manager:
          type: boolean
          description: 'Determines if the user has Project Manager permissions for the project.'
          nullable: true
        use_default_rates:
          type: boolean
          description: 'Determines which billable rate(s) will be used on the project for this user when bill_by is People. When true, the project will use the user’s default billable rates. When false, the project will use the custom rate defined on this user assignment.'
          nullable: true
        hourly_rate:
          type: number
          description: 'Custom rate used when the project’s bill_by is People and use_default_rates is false.'
          nullable: true
          format: float
        budget:
          type: number
          description: 'Budget used when the project’s budget_by is person.'
          nullable: true
          format: float
        created_at:
          type: string
          description: 'Date and time the user assignment was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the user assignment was last updated.'
          nullable: true
          format: date-time
    TaskAssignment:
      type: object
      externalDocs:
        description: task-assignment
        url: 'https://help.getharvest.com/api-v2/projects-api/projects/task-assignments/#the-task-assignment-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the task assignment.'
          nullable: true
          format: int32
        project:
          type: object
          description: 'An object containing the id, name, and code of the associated project.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            code:
              type: string
              nullable: true
        task:
          type: object
          description: 'An object containing the id and name of the associated task.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        is_active:
          type: boolean
          description: 'Whether the task assignment is active or archived.'
          nullable: true
        billable:
          type: boolean
          description: 'Whether the task assignment is billable or not. For example: if set to true, all time tracked on this project for the associated task will be marked as billable.'
          nullable: true
        hourly_rate:
          type: number
          description: 'Rate used when the project’s bill_by is Tasks.'
          nullable: true
          format: float
        budget:
          type: number
          description: 'Budget used when the project’s budget_by is task or task_fees.'
          nullable: true
          format: float
        created_at:
          type: string
          description: 'Date and time the task assignment was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the task assignment was last updated.'
          nullable: true
          format: date-time
    Project:
      type: object
      externalDocs:
        description: project
        url: 'https://help.getharvest.com/api-v2/projects-api/projects/projects/#the-project-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the project.'
          nullable: true
          format: int32
        client:
          type: object
          description: 'An object containing the project’s client id, name, and currency.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            currency:
              type: string
              nullable: true
        name:
          type: string
          description: 'Unique name for the project.'
          nullable: true
        code:
          type: string
          description: 'The code associated with the project.'
          nullable: true
        is_active:
          type: boolean
          description: 'Whether the project is active or archived.'
          nullable: true
        is_billable:
          type: boolean
          description: 'Whether the project is billable or not.'
          nullable: true
        is_fixed_fee:
          type: boolean
          description: 'Whether the project is a fixed-fee project or not.'
          nullable: true
        bill_by:
          type: string
          description: 'The method by which the project is invoiced.'
          nullable: true
        hourly_rate:
          type: number
          description: 'Rate for projects billed by Project Hourly Rate.'
          nullable: true
          format: float
        budget:
          type: number
          description: 'The budget in hours for the project when budgeting by time.'
          nullable: true
          format: float
        budget_by:
          type: string
          description: 'The method by which the project is budgeted.'
          nullable: true
        budget_is_monthly:
          type: boolean
          description: 'Option to have the budget reset every month.'
          nullable: true
        notify_when_over_budget:
          type: boolean
          description: 'Whether Project Managers should be notified when the project goes over budget.'
          nullable: true
        over_budget_notification_percentage:
          type: number
          description: 'Percentage value used to trigger over budget email alerts.'
          nullable: true
          format: float
        over_budget_notification_date:
          type: string
          description: 'Date of last over budget notification. If none have been sent, this will be null.'
          nullable: true
          format: date
        show_budget_to_all:
          type: boolean
          description: 'Option to show project budget to all employees. Does not apply to Total Project Fee projects.'
          nullable: true
        cost_budget:
          type: number
          description: 'The monetary budget for the project when budgeting by money.'
          nullable: true
          format: float
        cost_budget_include_expenses:
          type: boolean
          description: 'Option for budget of Total Project Fees projects to include tracked expenses.'
          nullable: true
        fee:
          type: number
          description: 'The amount you plan to invoice for the project. Only used by fixed-fee projects.'
          nullable: true
          format: float
        notes:
          type: string
          description: 'Project notes.'
          nullable: true
        starts_on:
          type: string
          description: 'Date the project was started.'
          nullable: true
          format: date
        ends_on:
          type: string
          description: 'Date the project will end.'
          nullable: true
          format: date
        created_at:
          type: string
          description: 'Date and time the project was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the project was last updated.'
          nullable: true
          format: date-time
    Role:
      type: object
      externalDocs:
        description: role
        url: 'https://help.getharvest.com/api-v2/roles-api/roles/roles/#the-role-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the role.'
          nullable: true
          format: int32
        name:
          type: string
          description: 'The name of the role.'
          nullable: true
        user_ids:
          type: array
          description: 'The IDs of the users assigned to this role.'
          nullable: true
          items:
            type: integer
        created_at:
          type: string
          description: 'Date and time the role was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the role was last updated.'
          nullable: true
          format: date-time
    Teammate:
      type: object
      externalDocs:
        description: teammate
        url: 'https://help.getharvest.com/api-v2/users-api/users/teammates/#the-teammate-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the teammate'
          nullable: true
        first_name:
          type: string
          description: 'The first name of the teammate'
          nullable: true
        last_name:
          type: string
          description: 'The last name of the teammate'
          nullable: true
        email:
          type: string
          description: 'The email of the teammate'
          nullable: true
          format: email
    BillableRate:
      type: object
      externalDocs:
        description: billable-rate
        url: 'https://help.getharvest.com/api-v2/users-api/users/billable-rates/#the-billable-rate-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the billable rate.'
          nullable: true
          format: int32
        amount:
          type: number
          description: 'The amount of the billable rate.'
          nullable: true
          format: float
        start_date:
          type: string
          description: 'The date the billable rate is effective.'
          nullable: true
          format: date
        end_date:
          type: string
          description: 'The date the billable rate is no longer effective. This date is calculated by Harvest.'
          nullable: true
          format: date
        created_at:
          type: string
          description: 'Date and time the billable rate was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the billable rate was last updated.'
          nullable: true
          format: date-time
    CostRate:
      type: object
      externalDocs:
        description: cost-rate
        url: 'https://help.getharvest.com/api-v2/users-api/users/cost-rates/#the-cost-rate-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the cost rate.'
          nullable: true
          format: int32
        amount:
          type: number
          description: 'The amount of the cost rate.'
          nullable: true
          format: float
        start_date:
          type: string
          description: 'The date the cost rate is effective.'
          nullable: true
          format: date
        end_date:
          type: string
          description: 'The date the cost rate is no longer effective. This date is calculated by Harvest.'
          nullable: true
          format: date
        created_at:
          type: string
          description: 'Date and time the cost rate was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the cost rate was last updated.'
          nullable: true
          format: date-time
    ProjectAssignment:
      type: object
      externalDocs:
        description: project-assignment
        url: 'https://help.getharvest.com/api-v2/users-api/users/project-assignments/#the-project-assignment-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the project assignment.'
          nullable: true
          format: int32
        is_active:
          type: boolean
          description: 'Whether the project assignment is active or archived.'
          nullable: true
        is_project_manager:
          type: boolean
          description: 'Determines if the user has Project Manager permissions for the project.'
          nullable: true
        use_default_rates:
          type: boolean
          description: 'Determines which billable rate(s) will be used on the project for this user when bill_by is People. When true, the project will use the user’s default billable rates. When false, the project will use the custom rate defined on this user assignment.'
          nullable: true
        hourly_rate:
          type: number
          description: 'Custom rate used when the project’s bill_by is People and use_default_rates is false.'
          nullable: true
          format: float
        budget:
          type: number
          description: 'Budget used when the project’s budget_by is person.'
          nullable: true
          format: float
        created_at:
          type: string
          description: 'Date and time the project assignment was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the project assignment was last updated.'
          nullable: true
          format: date-time
        project:
          type: object
          description: 'An object containing the assigned project id, name, and code.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
            code:
              type: string
              nullable: true
        client:
          type: object
          description: 'An object containing the project’s client id and name.'
          nullable: true
          properties:
            id:
              type: integer
              nullable: true
            name:
              type: string
              nullable: true
        task_assignments:
          type: array
          description: 'Array of task assignment objects associated with the project.'
          nullable: true
          items:
            $ref: '#/components/schemas/TaskAssignment'
    User:
      type: object
      externalDocs:
        description: user
        url: 'https://help.getharvest.com/api-v2/users-api/users/users/#the-user-object'
      properties:
        id:
          type: integer
          description: 'Unique ID for the user.'
          nullable: true
          format: int32
        first_name:
          type: string
          description: 'The first name of the user.'
          nullable: true
        last_name:
          type: string
          description: 'The last name of the user.'
          nullable: true
        email:
          type: string
          description: 'The email address of the user.'
          nullable: true
          format: email
        telephone:
          type: string
          description: 'The user’s telephone number.'
          nullable: true
        timezone:
          type: string
          description: 'The user’s timezone.'
          nullable: true
        has_access_to_all_future_projects:
          type: boolean
          description: 'Whether the user should be automatically added to future projects.'
          nullable: true
        is_contractor:
          type: boolean
          description: 'Whether the user is a contractor or an employee.'
          nullable: true
        is_active:
          type: boolean
          description: 'Whether the user is active or archived.'
          nullable: true
        weekly_capacity:
          type: integer
          description: 'The number of hours per week this person is available to work in seconds, in half hour increments. For example, if a person’s capacity is 35 hours, the API will return 126000 seconds.'
          nullable: true
          format: int32
        default_hourly_rate:
          type: number
          description: 'The billable rate to use for this user when they are added to a project.'
          nullable: true
          format: float
        cost_rate:
          type: number
          description: 'The cost rate to use for this user when calculating a project’s costs vs billable amount.'
          nullable: true
          format: float
        roles:
          type: array
          description: 'Descriptive names of the business roles assigned to this person. They can be used for filtering reports, and have no effect in their permissions in Harvest.'
          nullable: true
          items:
            type: string
        access_roles:
          type: array
          description: 'Access role(s) that determine the user’s permissions in Harvest. Possible values: administrator, manager or member. Users with the manager role can additionally be granted one or more of these roles: project_creator, billable_rates_manager, managed_projects_invoice_drafter, managed_projects_invoice_manager, client_and_task_manager, time_and_expenses_manager, estimates_manager.'
          nullable: true
          items:
            type: string
        avatar_url:
          type: string
          description: 'The URL to the user’s avatar image.'
          nullable: true
        created_at:
          type: string
          description: 'Date and time the user was created.'
          nullable: true
          format: date-time
        updated_at:
          type: string
          description: 'Date and time the user was last updated.'
          nullable: true
          format: date-time
    ExpenseReportsResult:
      type: object
      externalDocs:
        description: result
        url: 'https://help.getharvest.com/api-v2/reports-api/reports/expense-reports/#the-result-object'
      properties:
        client_id:
          type: integer
          description: 'The ID of the client associated with the reported expenses. Only returned in the Client and Project reports.'
          nullable: true
          format: int32
        client_name:
          type: string
          description: 'The name of the client associated with the reported expenses. Only returned in the Client and Project reports.'
          nullable: true
        project_id:
          type: integer
          description: 'The ID of the project associated with the reported expenses. Only returned in the Client and Project reports.'
          nullable: true
          format: int32
        project_name:
          type: string
          description: 'The name of the project associated with the reported expenses. Only returned in the Client and Project reports.'
          nullable: true
        expense_category_id:
          type: integer
          description: 'The ID of the expense category associated with the reported expenses. Only returned in the Expense Category report.'
          nullable: true
          format: int32
        expense_category_name:
          type: string
          description: 'The name of the expense category associated with the reported expenses. Only returned in the Expense Category report.'
          nullable: true
        user_id:
          type: integer
          description: 'The ID of the user associated with the reported expenses. Only returned in the Team report.'
          nullable: true
          format: int32
        user_name:
          type: string
          description: 'The name of the user associated with the reported expenses. Only returned in the Team report.'
          nullable: true
        is_contractor:
          type: boolean
          description: 'The contractor status of the user associated with the reported expenses. Only returned in the Team report.'
          nullable: true
        total_amount:
          type: number
          description: 'The totaled cost for all expenses for the given timeframe, subject (client, project, expense category, or user), and currency.'
          nullable: true
          format: float
        billable_amount:
          type: number
          description: 'The totaled cost for billable expenses for the given timeframe, subject (client, project, expense category, or user), and currency.'
          nullable: true
          format: float
        currency:
          type: string
          description: 'The currency code associated with the expenses for this result.'
          nullable: true
    UninvoicedReportResult:
      type: object
      externalDocs:
        description: result
        url: 'https://help.getharvest.com/api-v2/reports-api/reports/uninvoiced-report/#the-result-object'
      properties:
        client_id:
          type: integer
          description: 'The ID of the client associated with the reported hours and expenses.'
          nullable: true
          format: int32
        client_name:
          type: string
          description: 'The name of the client associated with the reported hours and expenses.'
          nullable: true
        project_id:
          type: integer
          description: 'The ID of the project associated with the reported hours and expenses.'
          nullable: true
          format: int32
        project_name:
          type: string
          description: 'The name of the project associated with the reported hours and expenses.'
          nullable: true
        currency:
          type: string
          description: 'The currency code associated with the tracked hours for this result.'
          nullable: true
        total_hours:
          type: number
          description: 'The total hours for the given timeframe and project. If Time Rounding is turned on, the hours will be rounded according to your settings.'
          nullable: true
          format: float
        uninvoiced_hours:
          type: number
          description: 'The total hours for the given timeframe and project that have not been invoiced. If Time Rounding is turned on, the hours will be rounded according to your settings.'
          nullable: true
          format: float
        uninvoiced_expenses:
          type: number
          description: 'The total amount for billable expenses for the timeframe and project that have not been invoiced.'
          nullable: true
          format: float
        uninvoiced_amount:
          type: number
          description: 'The total amount (time and expenses) for the timeframe and project that have not been invoiced.'
          nullable: true
          format: float
    TimeReportsResult:
      type: object
      externalDocs:
        description: result
        url: 'https://help.getharvest.com/api-v2/reports-api/reports/time-reports/#the-result-object'
      properties:
        client_id:
          type: integer
          description: 'The ID of the client associated with the reported hours. Only returned in the Client and Project reports.'
          nullable: true
          format: int32
        client_name:
          type: string
          description: 'The name of the client associated with the reported hours. Only returned in the Client and Project reports.'
          nullable: true
        project_id:
          type: integer
          description: 'The ID of the project associated with the reported hours. Only returned in the Client and Project reports.'
          nullable: true
          format: int32
        project_name:
          type: string
          description: 'The name of the project associated with the reported hours. Only returned in the Client and Project reports.'
          nullable: true
        task_id:
          type: integer
          description: 'The ID of the task associated with the reported hours. Only returned in the Task report.'
          nullable: true
          format: int32
        task_name:
          type: string
          description: 'The name of the task associated with the reported hours. Only returned in the Task report.'
          nullable: true
        user_id:
          type: integer
          description: 'The ID of the user associated with the reported hours. Only returned in the Team report.'
          nullable: true
          format: int32
        user_name:
          type: string
          description: 'The name of the user associated with the reported hours. Only returned in the Team report.'
          nullable: true
        weekly_capacity:
          type: integer
          description: 'The number of hours per week this person is available to work in seconds, in half hour increments. For example, if a person’s capacity is 35 hours, the API will return 126000 seconds. Only returned in the Team report.'
          nullable: true
          format: int32
        avatar_url:
          type: string
          description: 'The URL to the user’s avatar image. Only returned in the Team report.'
          nullable: true
        is_contractor:
          type: boolean
          description: 'The contractor status of the user associated with the reported hours. Only returned in the Team report.'
          nullable: true
        total_hours:
          type: number
          description: 'The totaled hours for the given timeframe, subject (client, project, task, or user), and currency. If Time Rounding is turned on, the hours will be rounded according to your settings.'
          nullable: true
          format: float
        billable_hours:
          type: number
          description: 'The totaled billable hours for the given timeframe, subject (client, project, task, or user), and currency. If Time Rounding is turned on, the hours will be rounded according to your settings.'
          nullable: true
          format: float
        currency:
          type: string
          description: 'The currency code associated with the tracked hours for this result. Only visible to Administrators and Project Managers with the View billable rates and amounts permission.'
          nullable: true
        billable_amount:
          type: number
          description: 'The totaled billable amount for the billable hours above. Only visible to Administrators and Project Managers with the View billable rates and amounts permission.'
          nullable: true
          format: float
    ProjectBudgetReportResult:
      type: object
      externalDocs:
        description: result
        url: 'https://help.getharvest.com/api-v2/reports-api/reports/project-budget-report/#the-result-object'
      properties:
        client_id:
          type: integer
          description: 'The ID of the client associated with this project.'
          nullable: true
          format: int32
        client_name:
          type: string
          description: 'The name of the client associated with this project.'
          nullable: true
        project_id:
          type: integer
          description: 'The ID of the project.'
          nullable: true
          format: int32
        project_name:
          type: string
          description: 'The name of the project.'
          nullable: true
        budget_is_monthly:
          type: boolean
          description: 'Whether the budget is reset every month.'
          nullable: true
        budget_by:
          type: string
          description: 'The method by which the project is budgeted. Options: project (Hours Per Project), project_cost (Total Project Fees), task (Hours Per Task), task_fees (Fees Per Task), person (Hours Per Person), none (No Budget).'
          nullable: true
        is_active:
          type: boolean
          description: 'Whether the project is active or archived.'
          nullable: true
        budget:
          type: number
          description: 'The budget in hours or money for the project when budgeting by time. If the project is budgeted by money, this value will only be visible to Administrators and Project Managers with the View billable rates and amounts permission.'
          nullable: true
          format: float
        budget_spent:
          type: number
          description: 'The total hours or money spent against the project’s budget. If Time Rounding is turned on, the hours will be rounded according to your settings. If the project is budgeted by money, this value will only be visible to Administrators and Project Managers with the View billable rates and amounts permission.'
          nullable: true
          format: float
        budget_remaining:
          type: number
          description: 'The total hours or money remaining in the project’s budget. If Time Rounding is turned on, the hours will be rounded according to your settings. If the project is budgeted by money, this value will only be visible to Administrators and Project Managers with the View billable rates and amounts permission.'
          nullable: true
          format: float
    Contacts:
      type: object
      required:
        - contacts
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Clients:
      type: object
      required:
        - clients
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        clients:
          type: array
          items:
            $ref: '#/components/schemas/Client'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Companies:
      type: object
      required:
        - companies
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    InvoiceMessages:
      type: object
      required:
        - invoice_messages
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        invoice_messages:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceMessage'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    InvoiceMessageRecipients:
      type: object
      required:
        - invoice_message_recipients
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        invoice_message_recipients:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceMessageRecipient'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    InvoicePayments:
      type: object
      required:
        - invoice_payments
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        invoice_payments:
          type: array
          items:
            $ref: '#/components/schemas/InvoicePayment'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Invoices:
      type: object
      required:
        - invoices
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    InvoiceLineItems:
      type: object
      required:
        - invoice_line_items
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        invoice_line_items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    InvoiceItemCategories:
      type: object
      required:
        - invoice_item_categories
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        invoice_item_categories:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItemCategory'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    EstimateMessages:
      type: object
      required:
        - estimate_messages
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        estimate_messages:
          type: array
          items:
            $ref: '#/components/schemas/EstimateMessage'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    EstimateMessageRecipients:
      type: object
      required:
        - estimate_message_recipients
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        estimate_message_recipients:
          type: array
          items:
            $ref: '#/components/schemas/EstimateMessageRecipient'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Estimates:
      type: object
      required:
        - estimates
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        estimates:
          type: array
          items:
            $ref: '#/components/schemas/Estimate'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    EstimateLineItems:
      type: object
      required:
        - estimate_line_items
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        estimate_line_items:
          type: array
          items:
            $ref: '#/components/schemas/EstimateLineItem'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    EstimateItemCategories:
      type: object
      required:
        - estimate_item_categories
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        estimate_item_categories:
          type: array
          items:
            $ref: '#/components/schemas/EstimateItemCategory'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Expenses:
      type: object
      required:
        - expenses
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        expenses:
          type: array
          items:
            $ref: '#/components/schemas/Expense'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    ExpenseCategories:
      type: object
      required:
        - expense_categories
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        expense_categories:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseCategory'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Tasks:
      type: object
      required:
        - tasks
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    TimeEntries:
      type: object
      required:
        - time_entries
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        time_entries:
          type: array
          items:
            $ref: '#/components/schemas/TimeEntry'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    UserAssignments:
      type: object
      required:
        - user_assignments
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        user_assignments:
          type: array
          items:
            $ref: '#/components/schemas/UserAssignment'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    TaskAssignments:
      type: object
      required:
        - task_assignments
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        task_assignments:
          type: array
          items:
            $ref: '#/components/schemas/TaskAssignment'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Projects:
      type: object
      required:
        - projects
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Roles:
      type: object
      required:
        - roles
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Teammates:
      type: object
      required:
        - teammates
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        teammates:
          type: array
          items:
            $ref: '#/components/schemas/Teammate'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    BillableRates:
      type: object
      required:
        - billable_rates
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        billable_rates:
          type: array
          items:
            $ref: '#/components/schemas/BillableRate'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    CostRates:
      type: object
      required:
        - cost_rates
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        cost_rates:
          type: array
          items:
            $ref: '#/components/schemas/CostRate'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    ProjectAssignments:
      type: object
      required:
        - project_assignments
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        project_assignments:
          type: array
          items:
            $ref: '#/components/schemas/ProjectAssignment'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Users:
      type: object
      required:
        - users
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    ExpenseReportsResults:
      type: object
      required:
        - results
        - per_page
        - total_pages
        - total_entries
        - next_page
        - previous_page
        - page
        - links
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseReportsResult'
        per_page:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
        total_entries:
          type: integer
          format: int64
        next_page:
          type: integer
          format: int64
          nullable: true
        previous_page:
          type: integer
          format: int64
          nullable: true
        page:
          type: integer
          format: int64
        links:
          $ref: '#/components/schemas/PaginationLinks'
    UninvoicedReportResults:
[...]
